.content__password {
  margin: 10px 0px 0px 0px;
  padding: 10px 0px 0px 10px;
  height: 200px;
  background-color: #6997fa;
  border-radius: 25px;
  color: #fff;
  font-size: 22px;
}

.password__length {
  display: flex;
  justify-content: center;
}
.password__length label {
  padding: 5px 0px 0px 0px;
}
.password__length select {
  margin: 0px 0px 0px 10px;
}
.password__row {
  display: flex;
  justify-content: space-around;
  margin: 30px 0px 0px 0px;
}
.password__row select {
  margin: 0px 0px 0px 10px;
}
.password__column {
  display: flex;
  justify-content: center;
  align-items: center;
}
.password__button {
  display: flex;
  justify-content: center;
  margin: 35px 0px 0px 0px;
}
.password__button button {
  display: inline-block;
  background-color: rgb(35, 28, 231);
  color: #fff;
  height: 45px;
  width: 150px;
  border-radius: 5px;
}

.result__list {
  margin: 30px 0px 50px 0px;
}
.result__list li {
  position: relative;
  margin: 20px 0px 0px 0px;
  padding: 10px 0px 0px 25px;
  background-color: #6997fa;
  border-radius: 50px;
  height: 50px;
  width: 100%;
  color: #fff;
}
.result__list li span {
  display: inline-block;
  margin: 0px 0px 0px 15px;
  color: rgb(138, 225, 51);
}
.result__list li .fa-trash {
  position: absolute;
  right: 15px;
  top: 10px;
}

.form-select {
  width: 80px;
  font-size: 14px;
}

@media (max-width: 767px) {
  .content__password {
    margin: 5px 0px 0px 0px;
    padding: 10px 0px 0px 10px;
    height: 180px;
    background-color: #6997fa;
    border-radius: 25px;
    color: #fff;
    font-size: 16px;
  }
  .password__length {
    display: flex;
    justify-content: center;
  }
  .password__length label {
    padding: 10px 0px 0px 0px;
  }
  .password__row {
    margin: 25px 0px 0px 0px;
  }
  .password__button {
    margin: 15px 0px 0px 0px;
  }
  .password__button button {
    display: inline-block;
    background-color: rgb(35, 28, 231);
    color: #fff;
    height: 40px;
    width: 100px;
    border-radius: 5px;
  }
  .result__list {
    margin: 20px 0px 50px 0px;
  }
  .result__list li {
    margin: 20px 0px 0px 0px;
    padding: 10px 0px 0px 25px;
    background-color: #6997fa;
    border-radius: 50px;
    height: 50px;
    width: 100%;
    color: #fff;
    font-size: 20px;
  }
  .result__list li span {
    display: inline-block;
    margin: 0px 0px 0px 0px;
    color: rgb(138, 225, 51);
  }
}
@media (max-width: 600px) {
  .content__password {
    margin: 10px 0px 0px 0px;
    padding: 10px 0px 0px 10px;
    height: 350px;
    background-color: #6997fa;
    border-radius: 25px;
    color: #fff;
    font-size: 23px;
  }
  .password__length {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px 0px 0px;
    padding: 0px 10px 0px 10px;
  }
  .password__row {
    display: block;
    margin: 10px 0px 0px 0px;
  }
  .password__column {
    display: flex;
    justify-content: space-between;
    margin: 30px 0px 0px 0px;
    padding: 0px 10px 0px 10px;
  }
  .password__button {
    margin: 15px 0px 0px 0px;
  }
  .password__button button {
    display: inline-block;
    background-color: rgb(35, 28, 231);
    color: #fff;
    height: 40px;
    width: 130px;
    border-radius: 5px;
  }
  .result__list li {
    height: 60px;
  }
}