.content {

    &__password {
        margin: 10px 0px 0px 0px;
        padding: 10px 0px 0px 10px;
        height: 200px;
        background-color: #6997fa;
        border-radius: 25px;
        color: #fff;
        font-size: 22px;
    }

}


.password {

    &__length {
        display: flex;
        justify-content: center;

        label {
            padding: 5px 0px 0px 0px;
        }

        select {
            margin: 0px 0px 0px 10px;
        }

    }

    &__row {
        display: flex;
        justify-content: space-around;
        margin: 30px 0px 0px 0px;

        select {
            margin: 0px 0px 0px 10px;
        }
    }

    &__column {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    &__button {
        display: flex;
        justify-content: center;
        margin: 35px 0px 0px 0px;
        button {
            display: inline-block;
            background-color: rgb(35, 28, 231);
            color: #fff;
            height: 45px;
            width: 150px;
            border-radius: 5px;

        }
    }

}


.result {

    &__list {
        margin: 30px 0px 50px 0px;

        li {
            position: relative;
            margin: 20px 0px 0px 0px;
            padding: 10px 0px 10px 25px;
            background-color: #6997fa;
            border-radius: 50px;
            min-height: 50px;
            width: 100%;
            color: #fff;

            span {
                display: inline-block;
                margin: 0px 0px 0px 15px;
                color: rgb(138, 225, 51);
            }

            & .fa-trash {
                position: absolute;
                right: 15px;
                top: 10px;
            }
        }
    }

}


.form-select {
    width: 80px;
    font-size: 14px;
}



@media (max-width: 767px) {

    .content {

        &__password {
            margin: 5px 0px 0px 0px;
            padding: 10px 0px 0px 10px;
            height: 180px;
            background-color: #6997fa;
            border-radius: 25px;
            color: #fff;
            font-size: 16px;
        }
    }


    .password {

        &__length {
            display: flex;
            justify-content: center;
    
            label {
                padding: 10px 0px 0px 0px;
            }
        }
    
        &__row {
            margin: 25px 0px 0px 0px;
        }

        &__button {
            margin: 15px 0px 0px 0px;
            button {
                display: inline-block;
                background-color: rgb(35, 28, 231);
                color: #fff;
                height: 40px;
                width: 100px;
                border-radius: 5px;
    
            }
        }
    
    }


    .result {

        &__list {
            padding: 0px 0px 0px 0px;
            margin: 0px 0px 50px 0px;
    
            li {
                margin: 20px 0px 0px 0px;
                background-color: #6997fa;
                border-radius: 50px;
                width: 100%;
                color: #fff;
                font-size: 20px;
    
                span {
                    display: inline-block;
                    margin: 0px 0px 0px 0px;
                    color: rgb(138, 225, 51);
                }
            }
        }
    
    }
}



@media (max-width: 600px) {

    .content {

        &__password {
            margin: 10px 0px 0px 0px;
            padding: 10px 0px 0px 10px;
            height: 350px;
            background-color: #6997fa;
            border-radius: 25px;
            color: #fff;
            font-size: 23px;
        }
    
    }

    .password {

        &__length {
            display: flex;
            justify-content: space-between;
            margin: 10px 0px 0px 0px;
            padding: 0px 10px 0px 10px;
        }

        &__row {

            display: block;
            margin: 10px 0px 0px 0px;
        }

        &__column {
            display: flex;
            justify-content: space-between;
            margin: 30px 0px 0px 0px;
            padding: 0px 10px 0px 10px;
        }

        &__button {
            margin: 15px 0px 0px 0px;
            button {
                display: inline-block;
                background-color: rgb(35, 28, 231);
                color: #fff;
                height: 40px;
                width: 130px;
                border-radius: 5px;
    
            }
        }

    }
}